@media screen and (max-width: 720px) {
    :root {
        font-size: 17px;
        --imgHeight: 150px;
    }
}

@media screen and (min-width: 720px) {
    :root {
        font-size: 20px;
        --imgHeight: 300px;
    }
}