.prices {
    /* grid-column: 2/2; */
    /* grid-row: 2/3; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    /* width: 100vw; */
    /* direction: rtl; */
    /* font-size: 1px; */
}